<div class="store-management-view">
    <section class="hero is-small is-primary">
        <div class="hero-head level">
            <div class="title">Store Management</div>
            <div class="navbar-brand">
                <div class="navbar-item is-active">
                    <p class="title">Create new invoice</p>
                    <p class="title">View total sales</p>
                    <p class="title">View all invoices</p>
                </div>
            </div>
            
        </div>
    </section>
</div>